# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
.nyc_output
.rpt

# production debug logs
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# misc
.DS_Store
.idea
*.swp
.env
.vscode

# Optional: Ignore the entire 'build' directory
# build/

# Optional: Ignore the entire 'dist' directory
# dist/

# Optional: Ignore environment files
.env.*

# Optional: Ignore lockfiles if you don't want to share them
# package-lock.json
# yarn.lock